.tag {
  display: inline-block;
  background-color: #3498db;
  border-radius: 0 3px 3px 0;
  color: #fff;
  font-size: 12px;
  line-height: 1.2;
  min-height: 1rem;
  padding-left: 0.1rem;
  padding-right: 0.25rem;
  position: relative;
}

.tag::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 10px solid #3498db;
  transform: translateY(-50%);
}