.content_area {
  @apply flex items-center justify-between flex-wrap;

  .box {
    width: calc((100% - 20px) / 3);
    max-width: 280px;
    @apply mb-20 text-gray-600;

    .box_title {
      font-family: Jost;
      @apply text-3xl mb-5;
    }
    
    &.techstacks {
      background: #EBEBEB;
      height: 14rem;
      @apply rounded flex items-center mt-3;
    }
  }

  @media (min-width: 1536px) {
    .box {
      max-width: 340px;
    }
  }
}