.jrdev {
  opacity: 0.1;
  transform: scale(3);
  position: absolute;
  left: 7rem;
  top: 13rem;
  z-index: -1;
}

.randomcodes {
  position: absolute;
  right: 0;
  z-index: -1;
  top: 0rem;
  opacity: 0.1;



  @media (min-width: 992px) {
    top: -3rem;
  }
}

.herotitle {
  // color: #EDE9E8;

  .gloock {
    font-family: 'Gloock';
    font-size: 3.5rem;
  }
}

.portrait {
  max-width: 480px;

  @media (min-width: 768px) {
    max-width: 750px;
    z-index: -1;
  }
}

.beachshot-container {
  height: 450px;

  @media (min-width: 992px) {
    height: 250px;
  }

  .beachshot {
    max-width: 300px;
  }
}

.top-home-bg {
  background: linear-gradient(to bottom right, #0c1b33 50%, #89cbe1 50%);
}

.service-card.card {
  border: 0px;
  box-shadow: 0 19px 38px rgb(0 0 0 / 5%), 0 15px 12px rgb(0 0 0 / 5%);

  .card-title {
    color: #303538;
    font-weight: bold;
  }
}

.testimonial-card.card {
  border: 0px;
  box-shadow: 0 19px 38px rgb(0 0 0 / 5%), 0 15px 12px rgb(0 0 0 / 5%);

  &.center-card {
    @media (min-width: 768px) {
      box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 0%);
    }
  }

  .avatar {
    width: 70px;

    @media (min-width: 992px) {
      width: 120px;
    }
  }
}

.zigzagbg {
  background-color: #e5e5f7;
  opacity: 0.2;
  background: linear-gradient(135deg, #a0a7f255 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #a0a7f2 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #a0a7f255 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #a0a7f2 25%, #e5e5f7 25%) 0px 0/ 80px 80px;
}

.isometricbg {
  background-color: #e5e5f7;
  opacity: 0.2;
  background-image:  linear-gradient(30deg, #a0a7f2 12%, transparent 12.5%, transparent 87%, #a0a7f2 87.5%, #a0a7f2), linear-gradient(150deg, #a0a7f2 12%, transparent 12.5%, transparent 87%, #a0a7f2 87.5%, #a0a7f2), linear-gradient(30deg, #a0a7f2 12%, transparent 12.5%, transparent 87%, #a0a7f2 87.5%, #a0a7f2), linear-gradient(150deg, #a0a7f2 12%, transparent 12.5%, transparent 87%, #a0a7f2 87.5%, #a0a7f2), linear-gradient(60deg, #a0a7f277 25%, transparent 25.5%, transparent 75%, #a0a7f277 75%, #a0a7f277), linear-gradient(60deg, #a0a7f277 25%, transparent 25.5%, transparent 75%, #a0a7f277 75%, #a0a7f277);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  min-height: 100%;
}