.resume {
  background: #090b13;
  @apply max-w-full;

  .subheading {
    color: #0078ff;
  }

  .expBranch {
    max-width: 1000px;
    @apply mx-auto flex flex-col sm:flex-row text-white justify-center;

    .title {
      @apply md:text-left mb-7 md:mb-0;
    }
    
    .details {
      background: #1d1f26;
      border: 1px solid#57595d;
      min-width: 300px;
      max-width: 300px;
      @apply p-7 rounded-xl mb-20;
    }

    // ORDER
    .title {
      order: 1;
    }

    .separator {
      order: 2;
    }

    .details {
      order: 3;
    }

    @media (min-width: 640px) {
      &.reverse {
        .title {
          order: 3;
          @apply text-right md:text-left;
        }
  
        .details {
          order: 1;
        }
      } 
    }
  }

  .separator {
    @apply hidden md:flex md:mx-5 xl:mx-10 flex-col justify-center items-center;
    .ball {
      background: #0078ff;
      @apply rounded-full h-12 w-12 flex justify-center items-center;

      .inner {
        background: #090b13;
        @apply rounded-full h-8 w-8;
      }
    }

    .line {
      background: #0078ff;
      @apply w-2 flex-1 rounded-full;
    }
  }
}